{% extends "layout.html" %}
{% block head %}
	<meta http-equiv="refresh" content="15; URL=/">
	{{ super() }}
{% endblock %}
{% block action %}/user{% endblock %}
{% block title %}{{ product.name() }}{% endblock %}
{% block body %}
	{{ super() }}
	<div class="product">
		<img src="{{ url_for('static', filename='products/%s' % product.picture()) }}" alt="{{ product.name() }}">
		<dl>
			<dt>Pris:</dt>
			<dd>{{ product.price() }}</dd>
			<dt>Kategori:</dt>
			<dd>{{ product.category() }}</dd>
		</dl>
	</div>
{% endblock %}
