{% extends "layout.html" %}
{% block head %}
	<meta http-equiv="refresh" content="15; URL=/">
	{{ super() }}
{% endblock %}
{% block action %}/user{% endblock %}
{% block title %}{{ product.name() }}{% endblock %}
{% block body %}
	{{ super() }}
	<div class="product">
		<img src="/images/products/{{ product.picture() }}" alt="{{ product.name() }}">
		<ul class="transaction-list">
		{% for pair in product.toplist()%}
			<li>{{ pair[0].name() }} <span class="price">{{ pair[1] }}st</span></li>
		{% endfor %}
		</ul>
		<dl>
			<dt>Pris:</dt>
			<dd>{{ product.price() }}kr</dd>
			<dt>Kategori:</dt>
			<dd>{{ product.category() }}</dd>
		</dl>
	</div>
{% endblock %}
