{% extends "admin/layout.html" %}
{% block title %}Exportera streckskulder{% endblock %}
{% block body %}
	{{ super() }}
	<table>
		<thead>
			<tr>
				<th>Namn</th>
				{% for category in categories %}
				<th>{{ category['name'] }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
		{% for user in users %}
			<tr>
				<td>{{ user.name() }}</td>
				{% for cat in user.debt_per_category() %}
				{% for category in categories %}
				{% if category['name'] == cat['name'] %}
				<td>{{ cat['debt'] }}kr</td>
				{% else %}
				<td>0kr</td>
				{% endif %}
				{% endfor %}
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<ul class="minimenu">
		<li><a href="/admin/export/empty">Töm</a></li>
		<li><a href="/admin">Bakåt</a></li>
	</ul>
{% endblock %}
